:root {
	--color-1: #000000;
	--color-2: #77FF61;
	--color-3: #8338EB;
}

body {
	height: 100%;
}

a {
	color: var(--color-3);
	cursor: pointer;
	text-decoration: none;
  }
  
  a:hover {
	color: var(--color-2);
  }

/* BG-DARK */

.bg-dark {
	background-color: var(--color-1) !important;
}

/* TEXT-COLOR */

.text-color {
	color: var(--color-3) !important;
}

/* GENERATE BUTTON */

.btn-outline-one {
	color: var(--color-2);
	border: 1px solid var(--color-2);
}

.btn-outline-one:hover {
	color: var(--color-1);
	background-color: var(--color-2);
	border: 1px solid var(--color-2);
}

/* COPY BUTTON */

.btn-outline-two {
	color: var(--color-3);
	border: 1px solid var(--color-3);
}

.btn-outline-two:hover {
	color: var(--color-1);
	background-color: var(--color-3);
	border: 1px solid var(--color-3);
}

